<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kbsc">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity
        android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
        <data android:host="oauth"
          android:scheme="kakao5a4cf1f846bf910730452a62a9a8aa38" />
        </intent-filter>
      </activity>

      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyB4M04Z0YdfkcBMLbzDI7mBxOAT0IavAJY"/>

      <!-- You will also only need to add this uses-libray tag -->
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>

      <!-- Foreground services in Q+ require type. -->
      <service
        android:name=".LocationUpdatesService"
        android:enabled="true"
        android:exported="true"
        android:foregroundServiceType="location" />      
    </application>

</manifest>
